@font-face {
  font-family: 'security-disc';
  src: url("../fonts/text-security-disc.woff") format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

//SF pro display font
@font-face {
  font-family: "Sf-pro-display";
  src: url("../fonts/sf-pro-display-light.woff2") format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Sf-pro-display";
  src: url("../fonts/sf-pro-display-regular.woff2") format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Sf-pro-display";
  src: url("../fonts/sf-pro-display-medium.woff2") format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Sf-pro-display";
  src: url("../fonts/sf-pro-display-semibold.woff2") format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Sf-pro-display";
  src: url("../fonts/sf-pro-display-bold.woff2") format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Sf-pro-display";
  src: url("../fonts/sf-pro-display-black.otf") format('opentype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}